/* auth.module.scss */
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0a1930, #004e92);
  font-family: Arial, sans-serif;
}

.card {
  background-color: #fff;
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  max-width: 400px;
  width: 100%;
  animation: fadeIn 0.5s ease;
  text-align: center;
}

.input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1.4rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.inputFocus {
  border-color: #0056b3;
  box-shadow: 0 0 8px rgba(0, 86, 179, 0.2);
}

.button {
  padding: 1rem;
  border-radius: 8px;
  font-size: 1.6rem;
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: #0a1930;
  color: #fff;
  transition: background-color 0.3s ease, transform 0.2s;
}

.buttonHover {
  background-color: #004494;
}

.link {
  // display: block;
  margin-top: 1rem;
  color: #3b5998;
  font-size: 1.4rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.registerContainer {
  display: flex;

  align-items: flex-end;
  margin-top: 1.5rem;
}

.registerText {
  margin: 0;
  color: #555;
  font-size: 1.4rem;
}

.links {
  display: flex;
  gap: 1.5rem;

  flex-direction: column;
  justify-content: center;
  // align-items: center;
}

.firstLink {
  // display: block;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem !important;
}

.margin {
  margin: 12px;
}
